In [1]:
import pandas as pd
import category_encoders as ce

In [2]:
df = pd.read_csv("cat-in-the-dat.csv")

In [3]:
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0,0,0,T,Y,Green,Triangle,Snake,Finland,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0

In [4]:
df.columns

Index(['id', 'bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'nom_0', 'nom_1',
       'nom_2', 'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9',
       'ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5', 'day', 'month',
       'target'],
      dtype='object')

In [5]:
(df[['nom_5', 'target']].head())

       nom_5  target
0  50f116bcf       0
1  b3b4d25d0       0
2  3263bdce5       0
3  f12246592       1
4  5b0f5acd5       0

In [6]:
# Target Encoding
target_encoder = ce.TargetEncoder(cols=['nom_5'])
df['nom_5_encoded'] = target_encoder.fit_transform(
    df['nom_5'], df['target']
)

In [7]:
print("\nAfter Target Encoding:")
print(df[['nom_5', 'nom_5_encoded']].head())

After Target Encoding:
       nom_5  nom_5_encoded
0  50f116bcf       0.358134
1  b3b4d25d0       0.388889
2  3263bdce5       0.274564
3  f12246592       0.234872
4  5b0f5acd5       0.312438