In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [6]:
df = pd.read_csv("MELBOURNE_HOUSE_PRICES_LESS.csv")
print(df.head())

         Suburb           Address  Rooms Type      Price Method   SellerG  \
0    Abbotsford     49 Lithgow St      3    h  1490000.0      S    Jellis
1    Abbotsford     59A Turner St      3    h  1220000.0      S  Marshall
2    Abbotsford     119B Yarra St      3    h  1420000.0      S    Nelson
3    Aberfeldie        68 Vida St      3    h  1515000.0      S     Barry
4  Airport West  92 Clydesdale Rd      2    h   670000.0      S    Nelson

        Date  Postcode             Regionname  Propertycount  Distance  \
0  1/04/2017      3067  Northern Metropolitan           4019       3.0
1  1/04/2017      3067  Northern Metropolitan           4019       3.0
2  1/04/2017      3067  Northern Metropolitan           4019       3.0
3  1/04/2017      3040   Western Metropolitan           1543       7.5
4  1/04/2017      3042   Western Metropolitan           3464      10.4

                  CouncilArea
0          Yarra City Council
1          Yarra City Council
2          Yarra City Council
3  Moonee Valley City Council
4  Moonee Valley City Council

In [7]:
df.info()
df.isnull().sum().sort_values(ascending=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63023 entries, 0 to 63022
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         63023 non-null  object
 1   Address        63023 non-null  object
 2   Rooms          63023 non-null  int64
 3   Type           63023 non-null  object
 4   Price          48433 non-null  float64
 5   Method         63023 non-null  object
 6   SellerG        63023 non-null  object
 7   Date           63023 non-null  object
 8   Postcode       63023 non-null  int64
 9   Regionname     63023 non-null  object
 10  Propertycount  63023 non-null  int64
 11  Distance       63023 non-null  float64
 12  CouncilArea    63023 non-null  object
dtypes: float64(2), int64(3), object(8)
memory usage: 6.3+ MB

Price            14590
Suburb               0
Address              0
Rooms                0
Type                 0
Method               0
SellerG              0
Date                 0
Postcode             0
Regionname           0
Propertycount        0
Distance             0
CouncilArea          0
dtype: int64

In [8]:
df = df.drop(columns=[
    'Address', 'SellerG', 'CouncilArea', 'Regionname'
])

In [9]:
num_cols = df.select_dtypes(include=['int64', 'float64']).columns
df[num_cols] = df[num_cols].fillna(df[num_cols].median())

In [10]:
cat_cols = df.select_dtypes(include='object').columns
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [11]:
le = LabelEncoder()
for col in cat_cols:
    df[col] = le.fit_transform(df[col])

In [12]:
df.head()

,Suburb,Rooms,Type,Price,Method,Date,Postcode,Propertycount,Distance
0,0,3,0,1490000.0,2,0,3067,4019,3.0
1,0,3,0,1220000.0,2,0,3067,4019,3.0
2,0,3,0,1420000.0,2,0,3067,4019,3.0
3,1,3,0,1515000.0,2,0,3040,1543,7.5
4,2,2,0,670000.0,2,0,3042,3464,10.4

In [13]:
X = df.drop('Price', axis=1)
y = df['Price']
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)
rf_reg = RandomForestRegressor(
    n_estimators=100,
    random_state=42
)

rf_reg.fit(X_train, y_train)
y_pred = rf_reg.predict(X_test)

In [14]:
print("R2 Score:", r2_score(y_test, y_pred))
print("MAE:", mean_absolute_error(y_test, y_pred))
print("MSE:", mean_squared_error(y_test, y_pred))

R2 Score: 0.39677691436663043
MAE: 227809.7863298174
MSE: 160747240550.14386

In [15]:
importance = pd.Series(
    rf_reg.feature_importances_,
    index=X.columns
).sort_values(ascending=False)

importance.head(10)

Date             0.270535
Distance         0.235071
Postcode         0.134890
Rooms            0.128606
Method           0.082740
Propertycount    0.052266
Type             0.050477
Suburb           0.045415
dtype: float64