In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [21]:
df = pd.read_csv("Titanic-Dataset.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
print(df[['Sex', 'Embarked']].head())

      Sex Embarked
0    male        S
1  female        C
2  female        S
3  female        S
4    male        S

In [13]:
le = LabelEncoder()
df['Sex_Encoded'] = le.fit_transform(df['Sex'])
print(df[['Sex', 'Sex_Encoded']].head())

      Sex  Sex_Encoded
0    male            1
1  female            0
2  female            0
3  female            0
4    male            1

In [ ]:
df = pd.get_dummies(df, columns=['Embarked'], drop_first=True)

In [18]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_Encoded,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,1,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,0,False,False
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,0,False,True
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,1,False,True

In [19]:
print("\nAfter Encoding:")
print(df[['Sex', 'Sex_Encoded', 'Embarked_Q', 'Embarked_S']].head())

After Encoding:
      Sex  Sex_Encoded  Embarked_Q  Embarked_S
0    male            1       False        True
1  female            0       False       False
2  female            0       False        True
3  female            0       False        True
4    male            1       False        True