In [5]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder

In [13]:

columns = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']

df = pd.read_csv("car_evaluation.csv", header=None, names=columns)
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [2]:
# Ordinal categories
buying_order = ['low', 'med', 'high', 'vhigh']
safety_order = ['low', 'med', 'high']

In [6]:
ord_enc = OrdinalEncoder(categories=[buying_order, safety_order])

In [8]:
df[['buying_enc', 'safety_enc']] = ord_enc.fit_transform(
    df[['buying', 'safety']]
)

In [9]:
le = LabelEncoder()

for col in ['maint', 'doors', 'persons', 'lug_boot', 'class']:
    df[col + '_enc'] = le.fit_transform(df[col])

In [12]:
df.head(15)

,buying,maint,doors,persons,lug_boot,safety,class,buying_enc,safety_enc,maint_enc,doors_enc,persons_enc,lug_boot_enc,class_enc
0,vhigh,vhigh,2,2,small,low,unacc,3.0,0.0,3,0,0,2,2
1,vhigh,vhigh,2,2,small,med,unacc,3.0,1.0,3,0,0,2,2
2,vhigh,vhigh,2,2,small,high,unacc,3.0,2.0,3,0,0,2,2
3,vhigh,vhigh,2,2,med,low,unacc,3.0,0.0,3,0,0,1,2
4,vhigh,vhigh,2,2,med,med,unacc,3.0,1.0,3,0,0,1,2
5,vhigh,vhigh,2,2,med,high,unacc,3.0,2.0,3,0,0,1,2
6,vhigh,vhigh,2,2,big,low,unacc,3.0,0.0,3,0,0,0,2
7,vhigh,vhigh,2,2,big,med,unacc,3.0,1.0,3,0,0,0,2
8,vhigh,vhigh,2,2,big,high,unacc,3.0,2.0,3,0,0,0,2
9,vhigh,vhigh,2,4,small,low,unacc,3.0,0.0,3,0,1,2,2
10,vhigh,vhigh,2,4,small,med,unacc,3.0,1.0,3,0,1,2,2
11,vhigh,vhigh,2,4,small,high,unacc,3.0,2.0,3,0,1,2,2
12,vhigh,vhigh,2,4,med,low,unacc,3.0,0.0,3,0,1,1,2
13,vhigh,vhigh,2,4,med,med,unacc,3.0,1.0,3,0,1,1,2
14,vhigh,vhigh,2,4,med,high,unacc,3.0,2.0,3,0,1,1,2